body{
    background-color: #f0f0f5;
    color: rgb(26, 184, 76);
}

.contenedor{
    color:#424242
}

header {
    background-color: #00446a;
    padding: 20px;
    margin: 20px;

}

.contenedor-principal{
    margin-bottom: 20px;


}
main{
    background-color: #424242;
    color : #fff;
    padding: 20px 0px;


}
aside{
    background-color: #bc7d7d87;
    padding: 60px 0;
    color: azure;
}
.navbar{
    margin-left: 25px;
    padding: 12px 0;
    color: var(--light);
    outline: none;
}